.form {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.16);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name {
	height: 35px;
	background-color: beige;
	padding: 15px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size: 14px;
	font-weight: 300;
}
.input {
	height: 35px;
	border-radius: 30px;
	border: none;
	padding: 0 25px;
	margin: 5px;
	display: flex;
	width: 100%;
	outline: none;
}
.btn {
	border: none;
	width: 100px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	color: #ffff;
	border-radius: 5px;
}
.messages {
	list-style: none;
}
.messages > li {
	padding: 10px;
}
.messages > li > span {
	font-weight: 500;
}
.YOUR {
	background-color: aqua;
}
